<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <meta charset="UTF-8"/>
    <title>BlogForm</title>
    <link href="http://apps.bdimg.com/libs/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet"/>
    <style>
    </style>
</head>
<body>
<div th:fragment="edit" class="container-fluid well">
    <form sec:authorize="isAuthenticated()" th:method="post" th:action="@{/blog/create}">

        <div class="row">
            <div class="col-md-8">
                标题:
                <input type="text" name="title" size="93"/>
            </div>
        </div>

        <br/>

        <div class="row">
            <div class="col-md-4">
                内容:
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-md-8">
                <textarea name="content" cols="100" rows="10"></textarea>
            </div>
        </div>
        <br/>
        <button class="btn btn-lg btn-primary" type="submit"><i class="fa fa-paper-plane"></i> 提交</button>

    </form>
</div>

</body>
</html>