<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <meta charset="UTF-8"/>
    <title>BlogForm</title>
</head>
<body>
<div>
    Hello,<span sec:authentication="name">someone</span>
    <form th:method="post" th:action="@{/blog/create}">
        标题:<input type="text" name="title"/>
        <br/>
        内容:
        <br/>
        <textarea name="content" cols="80" rows="10"></textarea>
        <br/>
        <input type="hidden" th:value="${#authentication.name}" name="username"/>
        <input type="submit" value="提交"/>
    </form>
</div>

</body>
</html>