<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Blog</title>
    <link href="http://apps.bdimg.com/libs/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>
<div th:fragment="bloglist" class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <ul th:each="blog:${blogs}">
                <li>
                    <a th:href="${'/blog/'+blog.id}"><h3 class="text-primary" th:text="${blog.title}"/></a>
                </li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 col-md-offset-2" th:include="BlogForm :: edit"/>
    </div>
</div>

</body>
</html>