<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Blog System</title>
    <link href="http://apps.bdimg.com/libs/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet"/>
    <style>
        .well{
            opacity: 0.9;
        }
    </style>
</head>
<body>
<div style="background: url('/bg.jpg') no-repeat;height: 1080px;">
    <div class="row">
        <div class="well col-md-8 col-md-offset-2" th:include="Navigation :: navigation"></div>
    </div>

    <div class="row">
        <div class="well col-md-8 col-md-offset-2" th:include="BlogList :: bloglist"></div>
    </div>

</div>


</body>
</html>